@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: "Poppins", sans-serif;
    background: #e0e0e0;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #fff;
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    border-right: 1px solid rgb(233, 232, 232);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #fff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}

#sidebar ul p {
    font-size: 1.2em;
    color: #000;
    text-align: center;
    font-weight: bolder;
}


#sidebar ul li a {
    padding: 10px;
    font-size: 1em;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(17, 32, 245);
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #000;
    background: #fff;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
    color: black;
    border-bottom:1px solid #000;
}

ul ul {
    background: #fff;
    margin: 10px 20px;
    border-radius: 5px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 92vh;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar.active {
    margin-left: -250px;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

.header_admin {
    background-color: #5ad8c7;
    padding: 10px;
}
.header_admin h5 {
    margin: 0;
}

.content_load{
    width: 100%;
    margin-bottom: 40px;
}

.err_input {
    color: red;
    font-weight: 400;
    margin-top: 10px;
    font-size: 15px;
}

.input_error{
    border: 1px solid red !important;
}
